{% extends 'base.html' %}
{% block content %}
    
<!-- Banner -->
<div class="banner-slider owl-theme owl-carousel">
    <div class="banner-area-three banner-img-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <h1 style="font-size: 55px;">Carwash Interior, Exterior & Chassis</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <div class="cmn-btn">
                                    <a class="banner-btn-left" href="#service">
                                        <i class='bx bx-meteor'></i>
                                        Explore Service
                                    </a>
                                    <a class="banner-btn-right" href="tel:+255757999000">
                                        <i class='bx bx-phone-call' ></i>
                                        +255757999000
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- <div class="video-wrap">
                                <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                                    <i class='bx bx-play'></i>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area-three banner-img-two">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <h1 style="font-size: 55px;">Disinfection Services </h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <div class="cmn-btn">
                                    <a class="banner-btn-left" href="#service">
                                        <i class='bx bx-meteor'></i>
                                        Explore Service
                                    </a>
                                    <a class="banner-btn-right" href="tel:+255757999000">
                                        <i class='bx bx-phone-call' ></i>
                                        +255757999000
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- <div class="video-wrap">
                                <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                                    <i class='bx bx-play'></i>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area-three banner-img-three">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="banner-text">
                                <h1 style="font-size: 55px;">Interior Steam Wash & Detailing </h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <div class="cmn-btn">
                                    <a class="banner-btn-left" href="#service">
                                        <i class='bx bx-meteor'></i>
                                        Explore Service
                                    </a>
                                    <a class="banner-btn-right" href="tel:+255757999000">
                                        <i class='bx bx-phone-call' ></i>
                                        +255757999000
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- <div class="video-wrap">
                                <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                                    <i class='bx bx-play'></i>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Banner Call -->
<div class="banner-call">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="banner-call-content">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cmn-btn">
                    <a class="banner-btn-left" href="tel:255757999000">
                        Call Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Call -->

<!-- Process -->
<!-- <section class="process-area process-area-two pt-100 pb-70">
    <div class="process-shape">
        <img src="/static/img/home-one/car-shadow.png" alt="Shape">
    </div>
    <div class="section-title">
        <span class="sub-title">process</span>
        <h2>Our Working Process</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="process-item">
                    <div class="process-inner process-one">
                        <i class='bx bxs-car-mechanic'></i>
                        <h3>Identify Problems</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="process-inner">
                        <i class='bx bxs-car-garage'></i>
                        <h3>Start Servicing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="process-item">
                    <div class="process-img">
                        <img src="/static/img/home-two/work-two.png" alt="Process">
                        <img src="/static/img/home-two/work-one.png" alt="Process">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="process-item">
                    <div class="process-inner process-two">
                        <i class='bx bxs-car-crash'></i>
                        <h3>Trial For Make Sure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="process-inner process-three">
                        <i class='bx bxs-car-wash'></i>
                        <h3>Deliver Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Process -->

<!-- Service -->
<section id="service" class="pb-70 pt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">service</span>
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/static/img/home-one/service/1.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bx-car'></i>
                            <i class='bx bx-car service-icon'></i>
                            <h3>Tyre Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/static/img/home-one/service/2.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-wrench'></i>
                            <i class='bx bxs-wrench service-icon'></i>
                            <h3>Engine Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/static/img/home-one/service/3.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-garage'></i>
                            <i class='bx bxs-car-garage service-icon'></i>
                            <h3>Tuning Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/static/img/home-one/service/4.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-mechanic'></i>
                            <i class='bx bxs-car-mechanic service-icon'></i>
                            <h3>Motor Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/static/img/home-one/service/5.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-crash'></i>
                            <i class='bx bxs-car-crash service-icon'></i>
                            <h3>System Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/static/img/home-one/service/6.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-wash'></i>
                            <i class='bx bxs-car-wash service-icon'></i>
                            <h3>Washing Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->

<!-- Quality -->
<section class="quality-area quality-area-three">
    <div class="quality-img">
        <img src="/static/img/home-one/quality-shape.png" alt="Quality">
        <img src="/static/img/home-one/quality-shape.png" alt="Quality">
        <!-- <img src="/static/img/home-three/quality-man.jpg" alt="Quality"> -->
    </div>
    <div class="container">
        <div class="quality-content">
            <div class="section-title">
                <h2>Quality Work is Our First Priority </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
            <div class="cmn-btn">
                <a class="banner-btn-left" href="about.html">
                    Read More
                </a>
            </div>
            <img src="/static/img/home-one/tyre.png" alt="Quality">
        </div>
    </div>
</section>
<!-- End Quality -->

<!-- Work -->
<section class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">works</span>
            <h2>Latest Works For Clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="sorting-menu">
            <ul> 
               <li class="filter active" data-filter="all">all</li>
               <li class="filter" data-filter=".tyre">wheels</li>
               <li class="filter" data-filter=".web">steering</li>
               <li class="filter" data-filter=".ui">brakes</li>
               <li class="filter" data-filter=".ux">suspention</li>
               <li class="filter" data-filter=".branding">tyre</li>
            </ul>
        </div>
        <div id="Container" class="row">
            <div class="col-sm-6 col-lg-3 mix web ui">
                <div class="work-item">
                    <img src="/static/img/home-one/work/1.jpg" alt="Work">
                    <div class="cmn-btn">
                         <a class="banner-btn-left" href="service-details.html">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre ux">
                <div class="work-item">
                    <img src="/static/img/home-one/work/2.jpg" alt="Work">
                    <div class="cmn-btn">
                         <a class="banner-btn-left" href="service-details.html">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mix ui branding">
                <div class="work-item">
                    <img src="/static/img/home-one/work/3.jpg" alt="Work">
                    <div class="cmn-btn">
                         <a class="banner-btn-left" href="service-details.html">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix ux tyre">
                <div class="work-item">
                    <img src="/static/img/home-one/work/4.jpg" alt="Work">
                    <div class="cmn-btn">
                         <a class="banner-btn-left" href="service-details.html">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mix branding ui">
                <div class="work-item">
                    <img src="/static/img/home-one/work/5.jpg" alt="Work">
                    <div class="cmn-btn">
                         <a class="banner-btn-left" href="service-details.html">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mix tyre web">
                <div class="work-item">
                    <img src="/static/img/home-one/work/6.jpg" alt="Work">
                    <div class="cmn-btn">
                         <a class="banner-btn-left" href="service-details.html">
                            Read More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Work -->

<!-- Feature -->
<div class="feature-area">
    <div class="feature-shape">
        <img src="/static/img/home-one/feature-shape.png" alt="Feature">
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 p-0">
                <div class="feature-img">
                    <img src="/static/img/home-one/feature-bg.jpg" alt="Feature">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="feature-content">
                    <h2>Our Features</h2>
                    <ul>
                        <li>
                            <i class='bx bx-box'></i>
                            <h3>Trusted & Quality Work</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                        <li>
                            <i class='bx bxs-truck'></i>
                            <h3>Fast Service Delivery</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                        <li>
                            <i class='bx bx-money'></i>
                            <h3>Money Back Garanty</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature -->

<!-- Parts -->
<!-- <section class="parts-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">parts</span>
            <h2>Parts On Sale</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/1.png" alt="Parts">
                    </div>
                    <h3>Audeck Tyre 200</h3>
                    <span>$120.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/2.png" alt="Parts">
                    </div>
                    <h3>Audeck Gear 200</h3>
                    <span>$110.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/3.png" alt="Parts">
                    </div>
                    <h3>Audeck Seat 200</h3>
                    <span>$130.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/4.png" alt="Parts">
                    </div>                           
                    <h3>Audeck Engine 200</h3>
                    <span>$150.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="shop.html">View All</a>
        </div>
    </div>
</section> -->
<!-- End Parts -->

<!-- Engineer -->
<section class="engineer-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">engineer</span>
            <h2>Meet Our Expert Engineer</h2>
        </div>
        <div class="engineer-slider owl-theme owl-carousel">
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/1.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jerry Hudson</h3>
                    <span>Machanical Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/2.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Tom Henry</h3>
                    <span>System Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/3.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jac Jacson</h3>
                    <span>Head Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/4.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Micheal Shon</h3>
                    <span>Automobile Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/1.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jerry Hudson</h3>
                    <span>Machanical Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/2.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Tom Henry</h3>
                    <span>System Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/3.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jac Jacson</h3>
                    <span>Head Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/4.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Micheal Shon</h3>
                    <span>Automobile Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/1.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jerry Hudson</h3>
                    <span>Machanical Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/2.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Tom Henry</h3>
                    <span>System Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/3.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jac Jacson</h3>
                    <span>Head Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="/static/img/home-one/engineer/4.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Micheal Shon</h3>
                    <span>Automobile Engineer</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Engineer -->

<!-- Review -->
<div class="review-area">
    <div class="review-shape">
        <img src="/static/img/home-one/review/review-shape.png" alt="Review">
    </div>
    <!-- <div class="video-wrap">
        <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
            <i class='bx bx-play'></i>
        </a>
    </div> -->
    <div class="container-fluid p-0">
        <div class="row m-0 justify-content-center">
            <div class="col-lg-6 ptb-100">
                <div class="review-slider owl-theme owl-carousel">
                    <div class="review-item">
                        <i class='bx bxs-quote-right'></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
                        <div class="review-inner">
                            <img src="/static/img/home-one/review/reviewer-one.png" alt="Review">
                            <h3>Sarah Tylor</h3>
                            <span>Designer</span>
                        </div>
                    </div>
                    <div class="review-item">
                        <i class='bx bxs-quote-right'></i>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <div class="review-inner">
                            <img src="/static/img/home-one/review/reviewer-one.png" alt="Review">
                            <h3>Tom Henry</h3>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="review-bg">
                    <img src="/static/img/home-one/review/review-right.jpg" alt="Review">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Review -->

<!-- Pricing -->
<section class="pricing-area pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">pricing</span>
            <h2>Our Pricing Plan</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Basic Pack</h3>
                        <p><span class="dollar">$</span>39<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="pricing.html">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Standard Pack</h3>
                        <p><span class="dollar">$</span>69<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-x'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="pricing.html">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6   col-lg-4">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <h3>Premium Pack</h3>
                        <p><span class="dollar">$</span>99<span class="month">/month</span></p>
                    </div>
                    <div class="pricing-middle">
                        <i class='bx bx-rocket'></i>
                    </div>
                    <div class="pricing-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Up to 3 chat operators
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                200 ChatBot Triggers
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Quick Responses
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Google Analytics
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Messenger Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Email Integration
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Mobile + Desktop Apps
                            </li>
                            <li>
                                <i class='bx bx-check-circle'></i>
                                Drag & Drop Widgets
                            </li>
                        </ul>
                        <div class="cmn-btn">
                            <a class="banner-btn-left" href="pricing.html">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing -->
{% endblock content %}
    


     
   