{% extends 'base.html' %} {% block content %}

<!-- Banner -->
<div class="banner-slider owl-theme owl-carousel">
  <div class="banner-area-three banner-img-one">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="banner-text">
                <h1 style="font-size: 55px">
                  Carwash Interior, Exterior & Chassis
                </h1>
                <p>
                  We provide a complete cleaning solution for both the interior
                  and exterior of your vehicle, including chassis cleaning to
                  ensure every part of your car is spotless.
                </p>
                <div class="cmn-btn">
                  <a class="banner-btn-left" href="#service">
                    <i class="bx bx-meteor"></i>
                    Explore Service
                  </a>
                  <a class="banner-btn-right" href="tel:+255757999000">
                    <i class="bx bx-phone-call"></i>
                    +255757999000
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-area-three banner-img-two">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="banner-text">
                <h1 style="font-size: 55px">Disinfection Services</h1>
                <p>
                  Hygiene matters! We disinfect your car to remove germs and
                  allergens, leaving you with a clean and safe ride.
                </p>
                <div class="cmn-btn">
                  <a class="banner-btn-left" href="#service">
                    <i class="bx bx-meteor"></i>
                    Explore Service
                  </a>
                  <a class="banner-btn-right" href="tel:+255757999000">
                    <i class="bx bx-phone-call"></i>
                    +255757999000
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-area-three banner-img-three">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="banner-text">
                <h1 style="font-size: 55px">Interior Steam Wash & Detailing</h1>
                <p>
                  Our deep cleaning techniques ensure your vehicle’s interior
                  looks and feels like new. We use the latest steam cleaning
                  technology to remove dirt, stains, and odors.
                </p>
                <div class="cmn-btn">
                  <a class="banner-btn-left" href="#service">
                    <i class="bx bx-meteor"></i>
                    Explore Service
                  </a>
                  <a class="banner-btn-right" href="tel:+255757999000">
                    <i class="bx bx-phone-call"></i>
                    +255757999000
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

<!-- Banner Call -->
<div class="banner-call">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7">
        <div class="banner-call-content">
          <h3>
            At Urbanskoon, we guarantee a spotless vehicle in just 30 minutes or
            less, ensuring you drive away with confidence.
          </h3>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cmn-btn">
          <a class="banner-btn-left" href="tel:255757999000"> Call Now </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner Call -->

<!-- Process -->
<section id="about" class="process-area process-area-two pt-100 pb-70">
  <div class="process-shape">
    <!-- <img src="/static/img/home-one/car-shadow.png" alt="Shape"> -->
  </div>
  <div class="section-title">
    <span class="sub-title">Excellence</span>
    <h2>Why Choose Urbanskoon?</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="process-item">
          <div class="process-inner process-one pe-0">
            <h3>Fast & Reliable</h3>
            <p>We clean your car in 30 minutes or less</p>
          </div>
          <div class="process-inner process-one pe-0">
            <h3>Top-Quality Products</h3>
            <p>Professional care, premium results</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="process-item">
          <div class="process-img">
            <img src="/static/img/favicon.png" width="300" alt="Process" />
            <!-- <img src="/static/img/home-two/work-one.png" alt="Process"> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="process-item">
          <div class="process-inner process-two ps-0">
            <h3>Expert Engine Bay Detailing</h3>
            <p>Protect your engine & enhance longevity</p>
          </div>
          <div class="process-inner process-three ps-0">
            <h3>Affordable Packages</h3>
            <p>Get the best value for your money</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="process-item">
          <div class="process-inner process-three">
            <h3>Relax While You Wait</h3>
            <p>Enjoy our comfortable lounge with refreshments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Process -->

<!-- Service -->
<section id="service" class="pb-70 pt-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">service</span>
      <h2>Our Services</h2>
      <p>
        Premium car care, delivered with speed, precision, and attention to
        detail.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <a href="service-details.html">
          <div class="service-item">
            <div class="service-img">
              <img src="/static/img/services/image_1.jpg" alt="Service" />
            </div>
            <div class="service-content">
              <h3>Standard Wash (30-Minute Express Clean)</h3>
              <p>
                Full exterior wash Interior vacuuming Dashboard & windows wiped
                Quick tire shine
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="service-details.html">
          <div class="service-item">
            <div class="service-img">
              <img src="/static/img/services/image_2.jpg" alt="Service" />
            </div>
            <div class="service-content">
              <h3>Premium Wash (Deep Clean & Shine)</h3>
              <p>
                Everything in Standard Wash Detailed interior cleaning Seat &
                carpet vacuuming Engine Bay Dust Removal
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="service-details.html">
          <div class="service-item">
            <div class="service-img">
              <img src="/static/img/services/image_3.jpg" alt="Service" />
            </div>
            <div class="service-content">
              <h3>Engine Bay Detailing (Precision Cleaning & Protection)</h3>
              <p>
                Deep cleaning of engine components Safe degreasing & dirt
                removal Protective coating to maintain engine aesthetics
                Enhances performance & longevity
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="service-details.html">
          <div class="service-item">
            <div class="service-img">
              <img src="/static/img/services/image_4.jpg" alt="Service" />
            </div>
            <div class="service-content">
              <h3>Disinfection Service (10-Minute Quick Sanitization)</h3>
              <p>
                Eliminates odors, germs, and bacteria Ideal for smokers &
                allergy-prone passengers Can be combined with any wash package
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="service-details.html">
          <div class="service-item">
            <div class="service-img">
              <img src="/static/img/services/image_5.jpg" alt="Service" />
            </div>
            <div class="service-content">
              <h3>Subscription Plan (Unlimited Monthly Washes)</h3>
              <p>
                Hassle-free maintenance for your vehicle Exclusive offers &
                priority service One fixed monthly payment
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="service-details.html">
          <div class="service-item">
            <div class="service-img">
              <img src="/static/img/services/image_6.jpg" alt="Service" />
            </div>
            <div class="service-content">
              <h3>Wheel & Rim Detailing (Brilliant Clean & Protection)</h3>
              <p>
                Experience a deep cleaning service that thoroughly removes brake
                dust and road grime from your wheels and rims.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Service -->

<!-- Quality -->
<section class="quality-area quality-area-three">
  <div class="quality-img">
    <img src="/static/img/home-one/quality-shape.png" alt="Quality" />
    <img src="/static/img/home-one/quality-shape.png" alt="Quality" />
    <!-- <img src="/static/img/home-three/quality-man.jpg" alt="Quality"> -->
  </div>
  <div class="container">
    <div class="quality-content">
      <div class="section-title">
        <h2>Quality Work is Our First Priority</h2>
        <p>
          Premium car care, delivered with speed, precision, and attention to
          detail. At Urbanskoon, we guarantee a spotless vehicle in just 30
          minutes or less, ensuring you drive away with confidence.
        </p>
      </div>
      <!-- <div class="cmn-btn">
        <a class="banner-btn-left" href="about.html"> Read More </a>
      </div> -->
      <img src="/static/img/home-one/tyre.png" alt="Quality" />
    </div>
  </div>
</section>
<!-- End Quality -->

<!-- Work -->
<section class="work-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">works</span>
      <h2>Works For Clients</h2>
      <p>
        See our recent car wash transformations showcasing pristine cleaning and
        expert detailing.
      </p>
    </div>
    <div class="sorting-menu">
      <ul>
        <li class="filter active" data-filter="all">all</li>
        <li class="filter" data-filter=".tyre">exterior</li>
        <li class="filter" data-filter=".web">interior</li>
        <li class="filter" data-filter=".ui">disinfection</li>
        <li class="filter" data-filter=".ux">engine</li>
        <li class="filter" data-filter=".branding">tyre</li>
        <li class="filter" data-filter=".tyre">rim</li>
      </ul>
    </div>
    <div id="Container" class="row">
      <div class="col-sm-6 col-lg-3 mix web ui">
        <div class="work-item">
          <img src="/static/img/home-one/work/1.jpg" alt="Work" />
          <div class="cmn-btn">
            <a class="banner-btn-left" href="service-details.html">
              View
              <i class="bx bx-right-arrow-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mix tyre ux">
        <div class="work-item">
          <img src="/static/img/home-one/work/2.jpg" alt="Work" />
          <div class="cmn-btn">
            <a class="banner-btn-left" href="service-details.html">
              Read More
              <i class="bx bx-right-arrow-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 mix ui branding">
        <div class="work-item">
          <img src="/static/img/home-one/work/3.jpg" alt="Work" />
          <div class="cmn-btn">
            <a class="banner-btn-left" href="service-details.html">
              Read More
              <i class="bx bx-right-arrow-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mix ux tyre">
        <div class="work-item">
          <img src="/static/img/home-one/work/4.jpg" alt="Work" />
          <div class="cmn-btn">
            <a class="banner-btn-left" href="service-details.html">
              Read More
              <i class="bx bx-right-arrow-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 mix branding ui">
        <div class="work-item">
          <img src="/static/img/home-one/work/5.jpg" alt="Work" />
          <div class="cmn-btn">
            <a class="banner-btn-left" href="service-details.html">
              Read More
              <i class="bx bx-right-arrow-alt"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mix tyre web">
        <div class="work-item">
          <img src="/static/img/home-one/work/6.jpg" alt="Work" />
          <div class="cmn-btn">
            <a class="banner-btn-left" href="service-details.html">
              Read More
              <i class="bx bx-right-arrow-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Work -->

<!-- Feature -->
<div class="feature-area">
  <div class="feature-shape">
    <img src="/static/img/home-one/feature-shape.png" alt="Feature" />
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6 p-0">
        <div class="feature-img">
          <img src="/static/img/home-one/feature-bg.jpg" alt="Feature" />
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="feature-content">
          <h2>Special Offers & Add-ons</h2>
          <ul>
            <li>
              <i class="bx bxs-car-wash"></i>
              <h3>First-time customers</h3>
              <p>Get 10% off your first wash</p>
            </li>
            <li>
              <i class="bx bx-user-voice"></i>
              <h3>Referral Program</h3>
              <p>Bring a friend & both get discounts</p>
            </li>
            <li>
              <i class="bx bx-credit-card-front"></i>
              <h3>Loyalty Perks</h3>
              <p>Earn free washes with repeat visits</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Feature -->

<!-- Parts -->
<!-- <section class="parts-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">parts</span>
            <h2>Parts On Sale</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/1.png" alt="Parts">
                    </div>
                    <h3>Audeck Tyre 200</h3>
                    <span>$120.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/2.png" alt="Parts">
                    </div>
                    <h3>Audeck Gear 200</h3>
                    <span>$110.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/3.png" alt="Parts">
                    </div>
                    <h3>Audeck Seat 200</h3>
                    <span>$130.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="parts-item">
                    <div class="parts-top">
                        <img src="/static/img/home-one/parts/4.png" alt="Parts">
                    </div>                           
                    <h3>Audeck Engine 200</h3>
                    <span>$150.00</span>
                    <div class="cmn-btn">
                        <a class="banner-btn-left" href="cart.html">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="parts-view">
            <a href="shop.html">View All</a>
        </div>
    </div>
</section> -->
<!-- End Parts -->

<!-- Engineer -->
<section class="engineer-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Expert</span>
      <h2>Meet Our Expert</h2>
    </div>
    <div class="engineer-slider owl-theme owl-carousel">
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/1.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Jerry Hudson</h3>
          <span>Machanical Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/2.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Tom Henry</h3>
          <span>System Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/3.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Jac Jacson</h3>
          <span>Head Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/4.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Micheal Shon</h3>
          <span>Automobile Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/1.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Jerry Hudson</h3>
          <span>Machanical Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/2.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Tom Henry</h3>
          <span>System Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/3.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Jac Jacson</h3>
          <span>Head Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/4.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Micheal Shon</h3>
          <span>Automobile Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/1.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Jerry Hudson</h3>
          <span>Machanical Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/2.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Tom Henry</h3>
          <span>System Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/3.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Jac Jacson</h3>
          <span>Head Engineer</span>
        </div>
      </div>
      <div class="engineer-item">
        <img src="/static/img/home-one/engineer/4.jpg" alt="Engineer" />
        <div class="engineer-bottom">
          <h3>Micheal Shon</h3>
          <span>Automobile Engineer</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Engineer -->

<!-- Review -->
<div id="testimonial" class="review-area">
  <div class="review-shape">
    <img src="/static/img/home-one/review/review-shape.png" alt="Review" />
  </div>
  <!-- <div class="video-wrap">
        <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
            <i class='bx bx-play'></i>
        </a>
    </div> -->
  <div class="container-fluid p-0">
    <div class="row m-0 justify-content-center">
      <div class="col-lg-6 ptb-100">
        <div class="review-slider owl-theme owl-carousel">
          <div class="review-item">
            <i class="bx bxs-quote-right"></i>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan.
            </p>
            <div class="review-inner">
              <img
                src="/static/img/home-one/review/reviewer-one.png"
                alt="Review"
              />
              <h3>Sarah Tylor</h3>
              <span>Designer</span>
            </div>
          </div>
          <div class="review-item">
            <i class="bx bxs-quote-right"></i>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable.
            </p>
            <div class="review-inner">
              <img
                src="/static/img/home-one/review/reviewer-one.png"
                alt="Review"
              />
              <h3>Tom Henry</h3>
              <span>CEO</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="review-bg">
          <img
            src="/static/img/home-one/review/review-right.jpg"
            alt="Review"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Review -->

<!-- Pricing -->
<section id="pricing" class="pricing-area pt-100 pb-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">pricing</span>
      <h2>Our Pricing Plan</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3 class="text-dark">Interior Refresh</h3>
            <p class="text-dark">
              <span class="dollar"></span>70,000<span class="month">/TZS</span>
            </p>
          </div>
          <div class="pricing-middle">
           <i class='bx bxs-car-wash' ></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Disinfection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Quick Fresh
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                A/C pro
                <!-- (vents clean) -->
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Vacuum
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Polishing
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Free Wash
              </li>
            </ul>
            <div class="cmn-btn">
              <!-- <a class="banner-btn-left" href="pricing.html"> Get Started </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3 class="text-dark">Deep Clean Deluxe</h3>
            <p class="text-dark">
              <span class="dollar"></span>130,000<span class="month">/TZS</span>
            </p>
          </div>
          <div class="pricing-middle">
           <i class='bx bxs-car-wash' ></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Disinfection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Engine steaming
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Plastic restoration
              </li>
              <li style="margin-bottom: 110px">
                <i class="bx bx-check-circle"></i>
                Free Wash
              </li>
            </ul>
            <div class="cmn-btn">
              <!-- <a class="banner-btn-left" href="pricing.html"> Get Started </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="pricing-top">
            <h3 class="text-dark">UrbanSkoon Premium</h3>
            <p class="text-dark">
              <span class="dollar"></span>180,000<span class="month">/TZS</span>
            </p>
          </div>
          <div class="pricing-middle">
           <i class='bx bxs-car-wash' ></i>
          </div>
          <div class="pricing-bottom">
            <ul>
              <li>
                <i class="bx bx-check-circle"></i>
                Rims Restoration
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Disinfection
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                A/C pro (Vents clean)
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Interior Foam Cleaning 
                <!-- (Seats & Roof) -->
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Messenger Integration
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Quick fresh
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Engine Steam Wash
              </li>
              <li>
                <i class="bx bx-check-circle"></i>
                Free Carwash + Cup of Porridge
              </li>
            </ul>
            <div class="cmn-btn">
              <!-- <a class="banner-btn-left" href="pricing.html"> Get Started </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing -->
{% endblock content %}
