<!-- Footer -->
<footer>
  <div class="footer-img">
    <!-- <img src="/static/img/home-one/footer-car.png" alt="Footer" /> -->
  </div>
  <div class="container">
    <!-- <div class="subscribe-area">
      <div class="subscribe-shape">
        <img src="/static/img/home-one/blog-shape.png" alt="Blog" />
      </div>
      <h2>Subscribe Newsletter</h2>
      <form class="newsletter-form" data-toggle="validator">
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email"
          name="EMAIL"
          required
          autocomplete="off"
        />

        <button class="btn subscribe-btn" type="submit">Subscribe</button>
        <div id="validator-newsletter" class="form-result"></div>
      </form>
    </div> -->
    <div class="row justify-content-center pt-5">
      <div class="col-sm-6 col-lg-3 ">
        <div class="footer-item">
          <div class="footer-logo">
            <a href="index.html">
              <img src="/static/img/urbanskoon.png" width="200" alt="Logo" />
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
              nobis et praesentium architecto ex laudantium voluptates in dolore
            </p>
            <ul>
              <li>
                <a href="https://www.youtube.com/" target="_blank">
                  <i class="bx bxl-youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/login/" target="_blank">
                  <i class="bx bxl-facebook"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/accounts/login/"
                  target="_blank"
                >
                  <i class="bx bxl-instagram-alt"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/i/flow/login" target="_blank">
                  <i class="bx bxl-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-item">
          <div class="footer-service">
            <h3>Services</h3>
            <ul>
              <li>
                <a href="#service" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                 Standard Wash
                </a>
              </li>
              <li>
                <a href="#service" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Premium Wash
                </a>
              </li>
              <li>
                <a href="#service" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Engine Bay Detailing
                </a>
              </li>
              <li>
                <a href="#service" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Engine Service
                </a>
              </li>
              <li>
                <a href="#service" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Disinfection Service
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-item">
          <div class="footer-service">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <a href="/" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Home
                </a>
              </li>
              <li>
                <a href="#about" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  About Us
                </a>
              </li>

              <li>
                <a href="#pricing" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Pricing
                </a>
              </li>
              <li>
                <a href="#testimonial" target="_blank">
                  <i class="bx bx-chevron-right"></i>
                  Testimonials
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="contact" class="footer-item">
          <div class="footer-service footer-find">
            <h3>Find Us</h3>
            <ul>
              <li>
                <i class="bx bx-location-plus"></i>
                Oilcom, Mpakani, Mwenge,
                <br />
                Dar es salaam, Tanzania
              </li>
              <li>
                <i class="bx bx-phone-call"></i>
                <a href="tel:+255757999000"> +255757999000 </a>
              </li>
              <li>
                <i class="bx bx-mail-send"></i>
                <a href="mailto:hello@urbanskoon.com"> hello@urbanskoon.com </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="copyright-item">
            <p>© 2024</p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="copyright-item copyright-right">
            <ul>
              <li>
                <a href="terms-and-conditions.html" target="_blank"
                  >Terms & Conditions</a
                >
              </li>
              <li>
                <span>-</span>
              </li>
              <li>
                <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
