<!-- Start Navbar Area -->
<div class="navbar-area fixed-top">
  <!-- Menu For Mobile Device -->
  <div class="mobile-nav">
    <a href="index.html" class="logo">
      <img src="/static/img/logo.png" alt="Logo" />
    </a>
  </div>

  <!-- Menu For Desktop Device -->
  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="/static/img/urbanskoon.svg" class="logo-one" alt="Logo" width="200"/>
          <img src="/static/img/urbanskoon_white.svg" class="logo-two" alt="Logo" width="200"/>
        </a>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{% url 'index' %}" class="nav-link active">Home</a>
             
            </li>
            <li class="nav-item">
              <a href="#service" class="nav-link">Services</a>
             
            </li>
            <li class="nav-item">
              <a href="#pricing" class="nav-link">Pricing</a>
            </li>
            
          
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a href="about.html" class="nav-link">About</a>
            </li> -->
          </ul>
        </div>
        <!-- <div class="cmn-btn">
          <a class="banner-btn-left" href="sign-in.html">
            <i class="bx bxs-user-plus"></i>
            Sign In
          </a>
        </div> -->
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
